<h1 style="color:#9C7FD1;">Vending Machine Owners</h1>

<ul style="color:#A5C8E4;">
  <% @owners.each do |o| %>
  <li><b><%= link_to o.name, owner_machines_path(o), class: 'css_class', style: 'color:#A5C8E4;' %></b></li>
  <% end %>
</ul>
