<h1 style="color:#9C7FD1;"><%= @owner.name %> Vending Machines</h1>

<ul style="color:#A5C8E4;">
  <% @owner.machines.each do |m| %>
    <li><b><%= link_to m.location.capitalize, machine_path(m), class: 'css_class', style: 'color:#A5C8E4;' %></b></li>
  <% end %>
</ul>