<h1 style="color:#9C7FD1;"><%= @machine.location.capitalize %> Vending Machine</h1>
<b><small><p style="color:#9C7FD1;">Average Snack Price: $<%= @machine.average_price %></p></small></b><br/>

<h3 style="color:#8AA8BF;">Snacks:</h3>
<ul>
<% @machine.snacks.each do |s| %>
  <li style="color:#9FC0DB;"><b><%= s.name %>: </b>
  $<%= s.price %></li><br/>
<% end %>
</ul>